.source, .todefied {
    display: inline-block;
    object-fit: contain;
    vertical-align: middle;
    width: 200px;
    height: 200px;
}

.todefy-marker {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-family: sans-serif;
    margin: 0 3px;
}

.todefy-pair {
    width: 535px;
    margin: 15px;
}

#console {
    margin: 15px;
}
