.source, .todefied {
    display: inline-block;
    object-fit: contain;
    object-position: center right;
    vertical-align: middle;
    width: 200px;
    height: 200px;
}

.todefy-marker {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-family: sans-serif;
    margin: 0 6px;
}

.todefy-pair {
    margin: 15px;
    white-space: nowrap;
}

#console {
    margin: 15px;
}
